body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:black;
  background-image: url('http://milleniondesign.com/images/2010/12/Dragon-fly-night-club%20(2).jpg');
  background-repeat: no-repeat;

  background-position: center;
  background-size: 90%;
  font-size: 18px;
  font-family: 'Rock Salt', cursive;
}
body, a:link, a:visited, a:active{
  color: black;
  text-decoration: none;
}

a:hover {
  color: #C71585;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.addDancerButton{
  padding-top: 1px;
}

.topbar{
  height:50px;
  background-color: #ccff00;
}
.title{
  background-color: white;
  margin: 20px 20px 20px 20px;
  padding: 10px 10px;
  font-family: 'Bangers', cursive;
    font-size: 3em;
}

.dancer{
  width : 10px;
  height: 10px;
  border-radius:10px;
  position:absolute;
}


.fighter {
  height: 25px;
  width: 25px;
  margin: 0 auto;
  background-color: blue;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: blue;
    border-radius: 100%;
  }
  50% {
    background-color: green;
  }
  100% {
    transform: scale(1.5);
    background-color: yellow;
  }
}

.hipHopper {
  height: 60px;
  width: 60px;
  margin: 0 auto;
  background-color: red;
  animation:
    pulse 2s ease infinite alternate,
    nudge 1s linear infinite alternate;
  border-radius: 100%;
}

@keyframes pulse {
  0% {
    background-color: pink;
  }
  50% {
    background-color: purple;
  }
  100% {
    background-color: white;
  }
}

@keyframes nudge {
  0%, 100%{
    transform: translate(0,0);
  }
  50% {
    transform: translate(200px, 0);
  }
  80% {
    transform: translate(-1 50px, 0);
  }
}
.blinky {
      width: 10px;
      height: 10px;
      border: 20px solid yellow;
}
